@using mvcOnlineTicariOtomasyon.Models.siniflar
@model List<kargoDetay>
@{
    ViewBag.Title = "cariPanelKargoTakip";
    Layout = "~/Views/Shared/CariLayout.cshtml";
}

<h2 class="my-4">KARGO TAKİP</h2>

@using(Html.BeginForm("cariPanelKargoTakip", "CariPanel", FormMethod.Get))
{
    <span>KARGO ARA : </span>@Html.TextBox("p")
    <button type="submit" class="btn btn-primary">ÜRÜN ARA</button>
}
<br /><br /><br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>PERSONEL</th>
            <th>ALICI</th>
            <th>TAKİP KODU</th>
            <th>TARİH</th>
            <th>DETAYLAR</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var x in Model)
        {
            <tr>
                <td>@x.personel</td>
                <td>@x.alici</td>
                <td>@x.takipKodu</td>
                <td>@Convert.ToDateTime(x.tarih).ToString("dd-MM-yyyy")</td>
                <td><a href="/CariPanel/kargodetayBilgi/@x.takipKodu" class="btn text-white" style="background-color:coral;">DETAYLAR</a></td>
            </tr>
        }
    </tbody>
</table>


