@model mvcOnlineTicariOtomasyon.Models.siniflar.kargoDetay
@{
    ViewBag.Title = "yeniKargo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>YENİ KARGO GİRİŞİ</h2>


<form class="form-group" method="post">
    
    @Html.LabelFor(x => x.takipKodu)
    <input type="text" class="form-control" name="takipKodu" value="@ViewBag.rastKod" readonly />
    <br />

    @Html.LabelFor(x => x.personel)
    @Html.TextBoxFor(x => x.personel, new { @class = "form-control" })
    <br />


    @Html.LabelFor(x => x.alici)
    @Html.TextBoxFor(x => x.alici, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.tarih)
    <input type="date" name="tarih" class="form-control" />
    <br />

    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control", @cols = 20 })
    <br />

    <button class="btn btn-primary">KARGO BİLGİLERİNİ EKLE</button>
</form>